/** @format */

* {
	margin: 0;
	padding: 0;
}
.conatainer {
	display: grid;
	height: 500px;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(6, 1fr);
}
#in {
	width: 400px;
	height: 35px;
	border-radius: 5px;
}
.child1 {
	display: flex;
	gap: 250px;
	align-items: center;
	grid-column-start: 1;
	grid-column-end: 13;
	grid-row-start: 1;
	grid-row-end: 2;
	height: 50px;
	background-color: black;
	position: sticky;
	top: 0;
}
.child2 {
	grid-column: 1/13;
	grid-row: 1/2;
	height: 50px;
	background-color: rgb(19, 9, 58);
}
.child2:hover {
	border: 1px solid white;
}
.child3 {
	background-image: url(https://images-eu.ssl-images-amazon.com/images/G/31/LEO/Jup24/Phase1/2/FDFO_bank_PC_Header_1500x30055.gif);
	grid-column: 1/13;
	grid-row: 3/4;
	height: 300px;
	background-color: rgb(255, 0, 102);
}
.child4 {
	grid-column: 1/13;
	grid-row: 4/5;
	height: 300px;
	background-color: rgb(34, 144, 184);
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.child41,
.child42,
.child43,
.child44 {
	height: 250px;
	border: 2px solid yellow;
	width: 300px;
	background-color: white;
}
.child41 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
}
.child411,
.child412,
.child413,
.child414 {
	border: 1px solid red;
}
.child411 {
	background-color: blueviolet;
}
.child412 {
	background-color: rgb(43, 125, 226);
}
.child413 {
	background-color: rgb(226, 43, 180);
}
.child414 {
	background-color: rgb(43, 226, 183);
}
.child42 {
	background: url(https://images-eu.ssl-images-amazon.com/images/G/31/Img23/Budget3/REC-PC_CC_379x304._SY304_CB564096366_.jpg);
}
